
.main-div {
	margin-top: 100px;

}

.logo-img {
	display: block;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.input-search {
	display: block;
	width: 700px;
	height: 40px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	border: 2px solid #dbdbdb;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button1 {
	background: #dbdbdb;
	width: 150px;
	height: 30px;
	border-radius: 17px;
	border: 0;
	margin: 30px 4px;
	padding: 0 10px;
}
.button2 {
	background: #dbdbdb;
	width: 180px;
	height: 30px;
	border-radius: 17px;
	border: 0;
	margin: 30px 4px;
	padding: 0 10px;
}

